{% macro loop_over(navigation) %}

    {% import _self as macros %}

    {% for element in navigation %}
	
		{% set depth = element.keyPathArray|length %}
		
        {# you can use {{ element.elementType }} to echo "file" / "folder" type #}
        {% if element.activeParent %}
			<li class="nav-item level-{{ depth }} active parent">
		{% elseif element.active %}
			<li class="nav-item level-{{ depth }} active">
		{% else %}
			<li class="nav-item level-{{ depth }}">
		{% endif %}
        
        {% if (element.elementType == 'folder') %}
			<a href="{{ element.urlAbs }}" class="nav-link">
                <span class="link-text">{{ element.name }}</span>
            </a>
            {% if (element.folderContent|length > 0) %}	
                <ul class="navbar-nav-nav">
                    {{ macros.loop_over(element.folderContent) }}
                </ul>
            {% endif %}
        {% else %}
            <a href="{{ element.urlAbs }}" class="nav-link">
                <span class="link-text">{{ element.name }}</span>
            </a>
        {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{% import _self as macros %}

<ul class="navbar-nav">
    {{ macros.loop_over(navigation) }}
</ul>